<!DOCTYPE html>
{% extends "bases.html" %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Cambiar contraseña</title>
    {% endblock %}
    {% block css %}
    <link rel="stylesheet" href='{% static "./estilo/cambiar_clave.css" %}'>
    {% endblock %}
</head>
<body>
    {% block cuerpo %}
        <div id="mover_formulario">
            <div id="colorear_formulario">
                <h3>Complete los campos para poder cambiar de contraseña</h3>
                <form method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="submit" value="Cambiar contraseña">
                    <a href="{% url 'password_reset' %}">¿Has olvidado tu contraseña?</a>
                </form>
            </div>
        </div>
    {% endblock %}

</body>
</html>