* {
    margin: 0px;
    box-sizing: border-box;
    color: white;
    border-radius: 10px;
}

html {
    font-size: 21px;
}

body {
    background-image: url(../imagenes/fondo_pagina.png);
    background-repeat: no-repeat;
    background-color: skyblue;
    background-size: cover;
    /* Esto hace que el usuario al desplazarse hacia arriba o hacia abajo
    (Da igual) la imágen de fondo lo siga, en exactamente la misma posición */
    background-attachment: fixed;
}

form label {
    display: block;
}

input[type="submit"] {
    font-size: 1.10rem;
    padding: 10px 20px 10px 20px;
    background-color: transparent;
    border-radius: 40px;
    color: white;
    border: 2px solid white;

}

input[type="submit"]:hover {
    background-color: #9797975b;
}

input[type="text"], input[type="email"] {
    text-align: center;
    border-radius: 20px;
    color: black;
    border: 2px solid black;
}

textarea {
    border-radius: 10px;
    color: black;
    border: 2px solid black;
}

textarea::placeholder {
    text-align: center;
}

input:hover, textarea:hover, input:focus, textarea:focus {
    box-shadow: 0px 0px 12px white;
}

table {
    width: 55vw;
    background-color: rgba(15, 15, 15, 0.75);
    border: 2px solid black;
    border-radius: 30px;
    border-collapse: unset;
}

th {
    font-size: 1.40rem;
    padding-top: 12px;
    text-align: center;
}

td {
    padding: 30px;
    text-align: justify;
}

nav {
    background-image: url(../imagenes/foto_nav.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    border-bottom: 2px solid black;
    border-radius: 0px;
    display: flex;
}

#mover_botones_nav {
    display: flex;
    width: 92%;
    justify-content: space-around;
    align-items: center;
}

.navbar-brand {
    padding: 0px;
}

nav img {
    padding: 6px;
}

nav img:hover {
    display: flex;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.353);
}

/* Clase, de la que hacen uso los enlaces (botones) del nav */
.nav-link {
    color: white;
    transition: font-size 0.5s ease;
    margin: 0px 7px 0px 7px;
}

a {
    color: white;
    text-decoration: none;
    /* Aún así, le indico el transition y demás propiedades al resto de enlaces (más botones)
    que hayan por todas las otras plantillas */
    transition: font-size 0.5s ease;
    font-size: 1rem;
}

a:hover {
    font-size: 1.10rem;
    text-decoration: underline;
    text-shadow: 0px 0px 16px whitesmoke;
    background-color: transparent;
}

#acomodar_admin_boton {
    transition: none;
    font-size: 1.10rem;
    padding: 12px;
}

footer {
    margin-top: 12%;
    background-image: url(../imagenes/foto_footer.jpg);
    background-position: -1000px 0px;
    border-radius: 0px;
    border-top: 2px solid black;
}

#centrado {
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    text-align: center;
    height: 100%;
}

footer a {
    color: orange;
    font-weight: bold;
}

footer a:hover {
    font-size: 1.3rem;
}

#cartel_visitar {
    font-size: 1.10rem;
    color: black;
    background:linear-gradient(to right, orange, purple);
    padding: 5px;
    margin-top: 3%;
}

#separar_cartel_visitar {
    margin-top: 2%;
    margin-bottom: 5%;
}

.separar_publicacion {
    margin-top: 40px;
}

.boton_negro {
    color:black
}

#publicaciones {
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer div {
    display: flex;
    justify-content: center;
}

footer img {
    margin-right: 2.5%;
    margin-bottom: 2%;
}

/* Responsividad general */
/* Celulares */
@media(max-width: 768px) {
    /* Esto es del <nav> */
    .navbar-expand-sm {
    flex-wrap: wrap;
    --bs-navbar-nav-link-padding-x: 0.1em;
    }

    /* Arreglar con GRID
    .navbar>.container-fluid {
        justify-content: center;
        flex-wrap: nowrap;
    }
    */

    #acomodar_admin_boton {
        padding-left: 0px;
        margin-left: 7px;
        font-size: 1rem;
        padding-top: 10.500px;
    }

    /* Todos los enlaces del nav (a excepción de la imágen) con algo de Margin 
    para poder acomodarse debajo */
    div#mynavbar.collapse.navbar-collapse  {
        margin-right: 50px;
    }

    /* Esto es del <footer> */
    footer {
        flex-direction: column;
    }

    p#cartel_visitar {
        margin-top: 15px;
    }

    .navbar-toggler {
        margin-top: 8px;
        margin-right: 0px;
    }

    .navbar-brand {
        margin-right: 0px;
    }

    .col-xs-0 { display: none; }
    .col-xs-1 { width: 8.33%; }
    .col-xs-2 { width: 16.66%; }
    .col-xs-3 { width: 25%; }
    .col-xs-4 { width: 33.33%; }
    .col-xs-5 { width: 41.66%; }
    .col-xs-6 { width: 50%; }
    .col-xs-7 { width: 58.33%; }
    .col-xs-8 { width: 66.66%; }
    .col-xs-9 { width: 75%; }
    .col-xs-10 { width: 83.33%; }
    .col-xs-11 { width: 91.66%; }
    .col-xs-12 { width: 100%; }
}

  /* Pantallas de Laptop (768px - 1024px) */
@media(min-width: 769px) and (max-width: 1024px) {
    nav img:hover {
        border-radius: 10px;
    }

    nav li:hover, .nav-link:hover {
        font-size: 1.3rem;
    }

    /* Enlaces de inicio sesión y creación de cuenta */
    .d-flex .nav-link {
        margin-right: 1vw;
    }

    /* Margin de los enlaces de cuentas */
    .navbar-collapse {
        margin-left: 2%;
    }

    #acomodar_admin_boton {
        padding-top: 9px;
    }

    footer {
        background-position: center;
    }

    #cartel_visitar {
        font-size: 1.2rem;
    }

    footer a {
        font-size: 1.2rem;
    }

    footer a:hover {
        font-size: 1.4rem;
    }

    footer img {
        width: 10%;
    }

    /* Esto es del footer */
    #centrado {
        font-size: 1rem;
    }
    .col-sm-0 { display: none; }
    .col-sm-1 { width: 8.33%; }
    .col-sm-2 { width: 16.66%; }
    .col-sm-3 { width: 25%; }
    .col-sm-4 { width: 33.33%; }
    .col-sm-5 { width: 41.66%; }
    .col-sm-6 { width: 50%; }
    .col-sm-7 { width: 58.33%; }
    .col-sm-8 { width: 66.66%; }
    .col-sm-9 { width: 75%; }
    .col-sm-10 { width: 83.33%; }
    .col-sm-11 { width: 91.66%; }
    .col-sm-12 { width: 100%; }
}

  /* Pantallas de Laptop grandes (1025px - 1440px) */
@media(min-width: 1025px) and (max-width: 1440px) {

    nav img:hover {
        border-radius: 15px;
    }

    nav li, .nav-link {
        font-size: 1.2rem;
    }

    nav li:hover, .nav-link:hover {
        font-size: 1.5rem;
    }

    /* Enlaces de inicio sesión y creación de cuenta */
    .d-flex .nav-link {
        margin-right: 1.6vw;
    }

    .navbar-collapse {
        margin-left: 3%;
    }

    footer {
        background-position: center;
    }

    #cartel_visitar {
        font-size: 1.2rem;
    }

    footer a {
        font-size: 1.2rem;
    }

    footer a:hover {
        font-size: 1.5rem;
    }

    footer img {
        width: 9%;
    }

    /* Esto es del footer */
    #centrado {
        font-size: 1.2rem;
    }

    th {
        font-size: 2rem;
    }

    td {
        text-align: justify;
        font-size: 1.1rem;
    }

    table {
        width: 70vw;
    }

    .col-md-0 { display: none; }
    .col-md-1 { width: 8.33%; }
    .col-md-2 { width: 16.66%; }
    .col-md-3 { width: 25%; }
    .col-md-4 { width: 33.33%; }
    .col-md-5 { width: 41.66%; }
    .col-md-6 { width: 50%; }
    .col-md-7 { width: 58.33%; }
    .col-md-8 { width: 66.66%; }
    .col-md-9 { width: 75%; }
    .col-md-10 { width: 83.33%; }
    .col-md-11 { width: 91.66%; }
    .col-md-12 { width: 100%; }
}

  /* Pantallas de PC de escritorio (1441px en adelante) */
@media(min-width: 1441px) {
    nav img {
        width: 230%;
    }

    nav img:hover {
        border-radius: 40px;
    }

    nav li, .nav-link {
        font-size: 2.5rem;
    }

    nav li:hover, .nav-link:hover {
        font-size: 3.2rem;
    }

    /* Enlaces de inicio sesión y creación de cuenta */
    .d-flex .nav-link {
        margin-right: 1.5vw;
    }

    .navbar-collapse {
        margin-left: 13%;
    }

    #acomodar_admin_boton {
        font-size: 2.5rem;
    }

    footer {
        background-position: center;
    }

    #cartel_visitar {
        font-size: 3rem;
        margin-top: 20px;
    }

    footer a {
        font-size: 3rem;
    }

    footer a:hover {
        font-size: 3.6rem;
    }

    footer img {
        width: 9%;
    }

    /* Esto es del footer */
    #centrado {
        font-size: 3rem;
    }

    th {
        font-size: 5rem;
    }

    td {
        font-size: 2.5rem;
    }

    table {
        width: 80vw;
    }

    .col-lg-0 { display: none; }
    .col-lg-1 { width: 8.33%; }
    .col-lg-2 { width: 16.66%; }
    .col-lg-3 { width: 25%; }
    .col-lg-4 { width: 33.33%; }
    .col-lg-5 { width: 41.66%; }
    .col-lg-6 { width: 50%; }
    .col-lg-7 { width: 58.33%; }
    .col-lg-8 { width: 66.66%; }
    .col-lg-9 { width: 75%; }
    .col-lg-10 { width: 83.33%; }
    .col-lg-11 { width: 91.66%; }
    .col-lg-12 { width: 100%; }
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para el menú principal */
ul.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #333;
    text-align: left;
}

li.menu-item {
    position: relative;
    display: inline-block;
}

/* Estilo básico del menú */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #007bff; /* Color de fondo */
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

li {
    position: relative;
}

a {
    color: white;
    text-decoration: none;
    display: block;
}

/* Menú desplegable */
.dropdown:hover .dropdown-menu {
    display: block; /* Mostrar el submenú al pasar el cursor */
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #007bff;
    min-width: 200px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-menu a {
    padding: 10px;
    font-size: 1rem;
}

.dropdown-menu a:hover {
    background-color: #0057b39b;
    font-size: 1.10rem;
}

/* Submenú de segundo nivel */
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu:hover .dropdown-submenu-menu {
    display: block; /* Mostrar el sub-submenú al pasar el cursor */
}

.dropdown-submenu-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #007bff;
    min-width: 200px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}