#mover_contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

#aviso_ok {
    font-size: 1.3rem;
    color: greenyellow;
    text-align: center;
    background-color: rgb(15, 15, 95);
    width: 72%;
    padding: 2%;
    background-image: url(../imagenes/fondo_mensaje_ok.png);
    text-shadow: 0px 0px 16px green;
}

/*======================================
PANTALLA EXTRA CHIQUITO, MOBILE SMALL (XS)
320
=======================================*/
@media(max-width: 768px){
    #aviso_ok {
        width: 100%;
    }
    
    .col-cp-0{display: none;}
    .col-cp-1{width: 8.33333333%;}
    .col-cp-2{width: 16.66666667%;}
    .col-cp-3{width: 25%;}
    .col-cp-4{width: 33.33333333%;}
    .col-cp-5{width: 41.66666667%;}
    .col-cp-6{width: 50%;}
    .col-cp-7{width: 58.33333333%;}
    .col-cp-8{width: 66.66666667%;}
    .col-cp-9{width: 75%;}
    .col-cp-10{width: 83.33333333%;}
    .col-cp-11{width: 91.66666667%;}
    .col-cp-12{width: 100%;}	
}

/*======================================
PANTALLA GRANDE, Laptop (ms)
769 - 1024
=======================================*/

@media(min-width: 769px) and (max-width: 1024px){
    #aviso_ok {
        margin-bottom: 5%;
    }
    .col-pl-0{display: none;}
    .col-pl-1{width: 8.33333333%;}
    .col-pl-2{width: 16.66666667%;}
    .col-pl-3{width: 25%;}
    .col-pl-4{width: 33.33333333%;}
    .col-pl-5{width: 41.66666667%;}
    .col-pl-6{width: 50%;}
    .col-pl-7{width: 58.33333333%;}
    .col-pl-8{width: 66.66666667%;}
    .col-pl-9{width: 75%;}
    .col-pl-10{width: 83.33333333%;}
    .col-pl-11{width: 91.66666667%;}
    .col-pl-12{width: 100%;}
}

/*======================================
PANTALLA GRANDE, Laptop (sm)
1025 - 1440
=======================================*/

@media(min-width: 1025px) and (max-width: 1440px){
    #aviso_ok {
        margin-bottom: 3%;
    }
    .col-lg-0{display: none;}
    .col-lg-1{width: 8.33333333%;}
    .col-lg-2{width: 16.66666667%;}
    .col-lg-3{width: 25%;}
    .col-lg-4{width: 33.33333333%;}
    .col-lg-5{width: 41.66666667%;}
    .col-lg-6{width: 50%;}
    .col-lg-7{width: 58.33333333%;}
    .col-lg-8{width: 66.66666667%;}
    .col-lg-9{width: 75%;}
    .col-lg-10{width: 83.33333333%;}
    .col-lg-11{width: 91.66666667%;}
    .col-lg-12{width: 100%;}
}
/*======================================
PANTALLA GRANDE, Laptop (md)
1441
=======================================*/
@media(min-width: 1441px){
    #aviso_ok {
        font-size: 3.5rem;
        margin-bottom: 3%;
        border-radius: 60px;
    }
    .col-pc-0{display: none;}
    .col-pc-1{width: 8.33333333%;}
    .col-pc-2{width: 16.66666667%;}
    .col-pc-3{width: 25%;}
    .col-pc-4{width: 33.33333333%;}
    .col-pc-5{width: 41.66666667%;}
    .col-pc-6{width: 50%;}
    .col-pc-7{width: 58.33333333%;}
    .col-pc-8{width: 66.66666667%;}
    .col-pc-9{width: 75%;}
    .col-pc-10{width: 83.33333333%;}
    .col-pc-11{width: 91.66666667%;}
    .col-pc-12{width: 100%;}
}